.s_height{
    height: 800px;
    width: 100%;
}
.bg_color{
    background-color: blue;
}
.ul{
    margin-left: 550px;


    
}
.li{
    margin: 10px;
    font-weight: bold;
    padding-left: 20px;
}
.img_size{
    width: 98%;
    height: 100%;
    padding: 15px;

}
.h1{
    margin-left: 39%;
    font-size: 90px;
}