.s_height{
    height: 800px;
    width: 100%;
}
.bg_color{
    background-color: blue;
}
.ul{
    margin-left: 550px;


    
}
.li{
    margin: 10px;
    font-weight: bold;
    padding-left: 20px;
}